.ui {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    width: 355px;
    z-index: 1337;
}


.nav {
    position: relative;
    background-color: #f2f6fa;
    font-size: 14px;
    margin: 0;
    padding: 15px 40px;
    list-style: none;
    z-index: 30;
}

