<div class="search">
	<div class="input">	
		<i class="icon"></i>
		<input type="text" value="" placeholder="Search City, Country..." #textbox  (keyup.enter)="getWeatherCities(textbox.value)"  />
	</div>
	<div class="results">
	  <ul>
		<li *ngFor="let item of todayWeather">{{item.countryCode}} {{item.cityName}} 
		  <img class='weatherIcon' src='http://openweathermap.org/img/w/{{item.icon}}.png' />
		 {{item.temp}}&deg;C {{item.pressure}}hpa
</li>
  	  </ul>
	</div>
</div>

